header[data-testid="stHeader"], footer[data-testid="stFooter"] {
    display: none;
}

.stApp {
    background: linear-gradient(90deg,rgba(195, 177, 225, 1) 41%, rgba(141, 20, 144, 1) 95%, rgba(24, 26, 75, 1) 100%);
    color: #C3B1E1;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

/* ==========================================================================
   --- TIPOGRAFÃA ---
   ========================================================================== */


/* Para st.title() */
h1 {
    color: #AA336A !important ;
    font-weight: 20;
}

/* Para st.header() */
h2 {
    color: #181A4B !important;
    font-weight: 20;
}

/* Para st.subheader() */
h3 {
    color: #181A4B !important;
    font-weight: 20;
}

p {
    color: #000000; /* CHECAR CON EL TEXTO */
}
h1 > span, h2 > span, h3 > span {
    margin-right: 12px;
}

/* ==========================================================================
   --- RESPONSIVE DESIGN ---
   ========================================================================== */
@media (max-width: 768px) {
    .stApp {
        padding: 2rem;
    }
    .footer {
        flex-direction: column;
        gap: 2rem;
    }
}
